.footer {
    background-color: var(--background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    margin-top: 20px;
}

.address-text {
    color: var(--background-white);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding: 0;
    margin-bottom: 9px;
}

.link.footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-links);
    padding: 0;
}

.list-footer {
    list-style: none;
}

.list-footer .item {
    margin-bottom: 9px;
}

.footer-soc-links {
    margin-top: 12px;
    margin-left: 70px;
    width: 206px;
}

.footer-soc-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-white);
    margin-bottom: 20px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--background-white);

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item+.footer-soc-item {
    margin-left: 10px;
}

.footer-soc-link:hover {
    background: var(--action-color);
}

.footer-soc-link:focus {
    background: var(--action-color);
}

.container-footer {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-sub {
    margin-left: 93px;
    margin-top: 12px;
}

.footer-sub-form {
    display: flex;
}

.footer-sub-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--background-white);

    margin-bottom: 20px;
}

.footer-sub-email {
    border: none;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding: 15px 16px;
    color: var(--background-white);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub-email:hover,
.footer-sub-email:focus {
    border: none;
    border-color: var(--action-color);
    border: 1px solid var(--action-color);
}

.footer-sub-email::placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-sub-btn {
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;

    color: #FFFFFF;
    width: 200px;
    height: 50px;
    border-color: var(--action-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    margin-left: 12px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 10px 29px;
    cursor: pointer;
}

.footer-sub-btn-icon {
    margin-left: 10px;
}